*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 10px;
  height: 100%;
}

:root {
  --clr-purple01: #6949ff;
  --clr-purple02: #bfb0ff;
  --clr-yellow: #ffc107;
  --clr-white: #ffffff;
  --shadow-clr: #535353;
  --clr-light-grey: #d9d9d999;
  --slides-img-height: 35rem;
  --how-to-img-height: 40rem;
}

body {
  margin: 0;
  height: 100%;
  position: relative;
}

#app {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  margin: 10rem 15rem;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 0;
  padding-block: 2rem;
  background-color: var(--clr-purple01);
  color: var(--clr-white);
}

button {
  border: none;
}

.app-header {
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.app-name {
  font-size: 8rem;
  color: var(--clr-white);
  letter-spacing: 0.5rem;
}

.header-bg {
  position: absolute;
  z-index: -1;
  transform: translateY(1rem);
  height: 45rem;
  width: 125rem;
  filter: saturate(90%) brightness(110%);
}

.credits {
  font-size: 2rem;
  letter-spacing: 0.15rem;
  margin-top: 0.5rem;
}
.copyrights-link {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 2.5rem;
  letter-spacing: 0.15rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.slides {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}

.current-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.current-slide-img {
  width: 15rem;
  height: 15rem;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.how-to-section {
  padding-bottom: 10rem;
  margin-inline: 0;
}

/** not yet implemented */
.how-to-tip {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 3rem;
  margin-left: auto;
  font-size: 2rem;
  width: 50rem;

  display: none;
}

.how-to-tip-text {
  background-color: var(--clr-white);
  box-shadow: 0.2rem 0.2rem 0.5rem var(--shadow-clr);
  text-align: center;
  padding: 1rem;
}

.how-to-tip-img {
  width: 8rem;
}

.generator-section {
  margin: 0 auto;
}
